* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: Helvetica, sans-serif;
}
body {
    background-color: #F4F2F0;
}

#wrapper {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

#header-container {
    background-color: #fff;
}
#header {
  
    background-color: #fff;
    width: 1100px;
    min-height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}


#header .header-btn {
    display: flex;
}

#header .header-btn a {
    text-decoration: none;
    padding: 15px 10px;
   
}

#header .header-btn .text-btn {
    color: black;
    font-size: 14px;
    padding: 15px 10px;
}

#header .header-btn .text-btn:hover {
    color: #568c3e;
}

#header .header-btn >a .add {
    background-color: #DF2D2B;
    color: #fff;
    border-radius: 5px;
}


#header .header-btn >a .add:hover {
    color: #fff;
    background-color: #8f0e0c;
}

#menu-container {
    position: relative;
    /* top: 50px;
    left: 0; */
    transition: top 0.3s;
    width: 100%;
    z-index: 100;
    height: 41px;
    background-color: #568c3e;
    
     
}

#menu-container.fixed-menu {
    position: fixed;
    top: 0;
}


#menu-container .menu-nav {
    width: 1100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}

.menu-nav nav {
    
    width: 1100px;
    margin: 0 auto; /* Để canh giữa menu bên trong menu-container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu-list {
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-list li {
    display: inline-block;
}

.menu-list li a {
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 12px 17px;
    
   
    
}

.menu-list li a:hover {
    background-color: #DF2D2B;
}

#filte-box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#filte-box .loc-box {
    margin: 10px  ;
    padding: 10px 13px; 
    background-color: #FFC702;
    width: 1100px;
    height: 56px;
    border-radius: 8px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
#filte-box .loc-box .filte-btn {
    width: 210px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#filte-box .loc-box > .search{
    background-color: #DF2D2B;
    color: #fff;
    font-size: 13px;
    
}

.loc-box .filte >i {
    font-size: 14px;
    opacity: 0.2;
    
}

#gioi-thieu {
    margin: 10px 0;
}

#gioi-thieu .gioi-thieu-text {
    width: 1100px;
    
    margin: 0 auto; /* Để canh giữa menu bên trong menu-container */
   

}


#gioi-thieu .gioi-thieu-text .gt-title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
    
}

#place-bds-container {
    margin-bottom: 30px;
}
#place-bds-container .place-ctn {
    width: 1100px;
    margin: 0 auto;
}

.place-ctn {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 40px;
}
.place-ctn .place-img {
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
    position: relative;
    overflow: hidden;

}
.place-ctn .place-img img {
    border-radius: 8px 8px 0 0 ;
    transition: transform 0.3s;
}
.place-ctn .place-img:hover img {
    transform: scale(1.2);
}
.place-ctn .palce-text {
    font-size: 15px;
    text-align: center;
    /* padding-top: 10px; */
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color:#568c3e;
} 

.text-chi-trang {
    margin: 20px 0 20px 0;
    background-color: #fff;
    padding: 20px 0;
}

.text-chi-trang .chitrang-txt {
    width: 1100px;
    margin: 0 auto;
    color: #568C3E;
    text-transform: uppercase   ;
}

#wp-content {
   position: relative;
   width: 1100px;
   min-height: 1500px;
   margin: 0 auto;
   display: flex;
   
}

#content {
    
    /* background-color: #413434; */
    width: 84%;
    margin-right: 15px;
   
}

#content .title-cnt {
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-bottom: 4px solid #DF2D2B;
    border-top: 2px solid #EEEEEE;
    border-left: 2px solid #EEEEEE;
    border-right: 2px solid #EEEEEE;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
    
}

#content .title-cnt .text-til-cnt {
   padding-left: 20px;
   text-transform: uppercase;
   font-weight: bold;
   color:#568c3e;
   border-radius: 8px 8px 0 0;
}

#content .content-items {
    width: 100;
    height: 160px;
    background-color: #fff;
    border-bottom: 2px solid #568c3e;
    border-left: 2px solid #EEEEEE;
    border-right: 2px solid #EEEEEE;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.tab {
    display: none;
}

.active-tab {
    display: block;
}


.content-items .item-img {
    overflow: hidden;
    margin: 15px 0;
    flex: 1; /* Khối 1 sẽ chiếm 1 phần đều của không gian flex */
    /* padding: -5px; Điều chỉnh khoảng cách bên trong khối 1 nếu cần */
}

.content-items .item-img .fa-heart {
    position: absolute; 
    top: 20px;
    left: 20px;
    font-size: 20px;
    color:rgba(221, 206, 206, 0.5)
}

.content-items .item-img img {
    border-radius: 8px;
    width: 84%;
    /* transition: transform 0.3s; */
    transition: all .3s ease;
    object-fit: cover;
}
.content-items .item-img:hover img {
    transform: scale(1.08);
    
}

.content-items .item-text {
    flex: 3; /* Khối 2 sẽ chiếm gấp 3 không gian so với khối 1 */
    padding: -5px;
    display: block;
}
.content-items .item-text .nhadat-title  {
    position:absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding-top: 20px;
    
}

.item-text .nhadat-title a {
    text-decoration: none;
    color:#568c3e;
    text-transform: uppercase;
    font-weight: bold;
}

.item-text .nhadat-title a:hover {
    color: #DF2D2B;
}

.content-items .item-text .nhadat-info {
    display: flex;
    justify-content: space-between;

}

.item-text .nhadat-info .nhadat-price {
    font-size: 17px;
    color: #DF2D2B;
    font-weight: bold;
}

.item-text .nhadat-info .nhadat-acreage {
    font-size: 13px;

}
 
.item-text .nhadat-info .nhadat-address {
    font-size: 13px;

}
 
.item-text .nhadat-info .nhadat-times {
    font-size: 12px;
    color: rgb(192, 192, 192);

}

.content-items .item-text .nhatdat-user {
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
}

.item-text .nhatdat-user img {
    border-radius: 50%;
}
.item-text .nhatdat-user .user-name {
    margin-left: 5px;
    text-transform: capitalize;
    font-size: 13px;
    color: #568c3e;
}

#wp-content .my-paging {
    /* position: relative; */
    width: 100%;
    height: 65px;
    /* background-color: #fff; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
     text-decoration: none;
    color:rgba(0, 0, 0, 0.5);
}


/* #wp-content .my-paging a {
    padding: 8px 16px;
    background-color: #fff;
    color: #252121;
    text-decoration: none;
    border: 2px solid #EEEEEE;
    border-radius: 3px;
}

#wp-content .my-paging a:hover {
    background-color:#568c3e;
    color: #fff;
} */

.my-paging a {
    padding: 8px 16px;
    background-color: #fff;
    color: #252121;
    text-decoration: none;
    border: 2px solid #EEEEEE;
    border-radius: 3px;
}

.my-paging a:hover {
    background-color: #568c3e;
    color: #fff;
}

.my-paging a.active-button {
    background-color: #568c3e;
    color: #fff;
}
#sidebar {
   
    width: 40%;
    /* background-color: #568c3e; */
    
}

#sidebar .box-layout {
    margin-bottom: 15px;
    padding: 15px 20px 5px 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #EEEEEE;
}
#sidebar .box-layout .sidebar-title-left {
    color:#568c3e;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-chothue a {
    display: flex;
    padding: 7px 0;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 2px solid #EEEEEE ;
    color: #000;
    font-size: 14px;
    
}

.box-chothue a:last-child {
    border-bottom: none;
}
.box-chothue a:hover {
    color:#568c3e;
}


.box-chothue .box-chothue-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-chothue .box-chothue-text i {
    font-size: 12px;
    opacity: 0.2;
    padding-right: 3px;
}

.box-gia .price-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột */
}

.box-gia .price-grid i {
    font-size: 12px;
    opacity: 0.2;
    padding-right: 3px;

}
.box-gia .price-grid>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 7px 0;
    border-bottom: 2px solid #EEEEEE;

}
.box-gia .price-grid>a:nth-last-child(-n+2) {
    border-bottom: none;
     /* Loại bỏ border-bottom cho hai phần tử cuối cùng */
}


.box-gia .price-grid>a:hover {
    color:#568c3e;
}

.box-dientich {

}
.box-dientich .dientich-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cột */
    grid-template-rows: repeat(3, 1fr); /* 3 dòng */
}

.box-dientich .dientich-grid i {
    font-size: 12px;
    opacity: 0.2;
    padding-right: 3px;
}

.box-dientich .dientich-grid>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 7px 0;
    border-bottom: 2px solid #EEEEEE;
}

.box-dientich .dientich-grid>a:last-child {
    border-bottom: none;
}

.box-dientich .dientich-grid>a:hover {
    color:#568c3e;
}

.box-baidang {

}

.box-baidang a {
  display: flex;
  padding: 10px 0;
  text-decoration: none;
  border-bottom: 2px solid #EEEEEE ;

}

.box-baidang a:last-child {
    border-bottom: none;
    padding-bottom: 150px;
}
.box-baidang .baidang-img {
    max-width: 65px;
    margin-right: 15px;
    overflow: hidden;
}
.box-baidang img {
   width: 100%;
   height: 100%;
   transition: transform 0.3s; /* Tạo hiệu ứng thay đổi kích thước mượt mà */
    border-radius: 4px;
    
}

.box-baidang .baidang-img:hover img {
    transform: scale(1.2);
}

.box-baidang .baidang-text {
   
}

.box-baidang .baidang-text .baidang-text-1 {
    color: #568c3e;
}
.box-baidang .baidang-text .baidang-text-2 {
    margin-top: 5px;
    display: flex;
    
}

.baidang-text-2 .baidang-text-gia {
    font-size: 14px;
    color:#DF2D2B;
  
}
.baidang-text-2 .baidang-text-times {
    font-size: 13px;
    padding-left: 45px;
    color: #a1a0a0;
    
    
}

.box-news {

}

.box-news .box-new-ctn a {
    display: flex;
    padding: 7px 0;
    text-decoration: none;
    border-bottom: 2px solid #EEEEEE;
    
}

.box-news .box-new-ctn a:last-child {
    border-bottom: none;
}
.box-news .box-new-ctn a :hover {
    color:#568c3e  ;
}

.box-new-ctn a i {
    padding-right: 3px;
    opacity: 0.2;
}

.box-news .box-new-ctn .news-text {
    text-align: justify;
    font-size: 14px;
    color: #000;
    line-height: 1.5;
}

/* lời nhắn */
.loinhan-container {
    width: 1100px;
    background-color: #fff;
    margin: 30px auto !important;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}

.loinhan-content {
    padding: 30px 40px;
}

.loinhan-title {
    text-align: center;
    margin-bottom: 10px;
    /* font-size: 18px; */
}

.loinhan-subtitle {
    text-align: center;
    margin: 0 20px;
}

.loinhan-subtitle-highline {
    color: #246606;
    text-decoration: none;
    font-weight: bold;
}
.loinhan-subtitle-highline:hover {
    color: #568c3e;
}

.loinhan-statistical {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.loinhan-statistical .statistical-items {
    text-align: center;
}

.loinhan-statistical .statistical-items >h3 {
    margin-bottom: 10px;
}

.loinhan-text {
    text-align: center;
    margin: 30px 0;
    font-size: 15px;
}

.loinhan-text-highline {
    color: #fe2b2c;
    font-weight: bold;
    
}

.loinhan-question {
    text-align: center;
    margin: 15px 0;

}

.loinhan-button {
    text-align: center;
    
}
.loinhan-button .nut-dang-tin {
    background-color: #fe2b2c;
    color: #fff;
    padding: 10px 27px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.loinhan-button .nut-dang-tin:hover {
    background-color: rgb(134, 7, 6);
    cursor: pointer;
}

.support-container {
    width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    border: 6px dashed #C5D5BD;
    border-radius: 5px;
}
.support-container .support-content {
    padding: 10px 40px 40px 40px;
    text-align: center;
    
}

.support-text {
    margin: 25px 0;
    color:#568c3e;
}
.support-list-items {
    display: flex;
    justify-content: space-between;
}

.support-list-items .support-item .sup-item {
    
    font-weight: bold;
    
}

.support-list-items .support-item .sup-txt {
    color:#568c3e;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.support-list-items .support-item .sup-highline {
    color:#DF2D2B;
}

.support-btn {
    padding-top: 30px;  
}

.support-btn a {
    text-decoration: none;
    background-color: #568c3e;
    color: #fff;
    padding: 10px 27px;
    border-radius: 5px;


}

.support-btn a:hover {
    background-color: #1c420b;
}
/* footer */
#footer {
    width: 100%;
    
    background-color: #fff;
    margin-top: 30px;
}
#footer .footer-ctn {
    width: 1100px;
    margin: 0 auto ;
    padding: 25px 0; 
    display: flex;
    justify-content: space-between;   
}

#footer .footer-ctn .footer-nav-titl {
    font-weight: bold;
    color: #555454;
    margin-bottom: 10px;
}

.footer-lienhe .footer-lh {
    margin-bottom: 25px;
}
.footer-lienhe .footer-social {
    display: flex;
    gap: 5px;
    
}
.footer-pay .footer-social {
    margin: 25px 0;
}

.footer-nav ul {
    line-height: 1.5;
}

#footer .footer-ctn li {
    list-style: none;
    
}

#footer .footer-ctn a {
    text-decoration: none;
    color: #555454;
    
}

#footer .footer-ctn a:hover {
    color: #568c3e;
}

#footer h3{
}

.copyright-block {
    background-color: #fff;
    margin-top: 2px;
    line-height: 1.5;
    margin-bottom: 25px;
}
.copyright-block p {
    width: 100%;
    text-align: center;
}

.copyright-block .text-bold {
    text-transform: uppercase;
    font-weight: bold;
}

.menu-res {
    display: none;
}
/* moblie */
@media screen and (max-width: 768px) {
    #wrapper {
        width: 100%;
    }

    #header-container {
        display: none;
    }

    #menu-container {
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .menu-res  {
        display: inline-block;
        background-color: #fff;
    }

    

    .menu-res.menu-res-cnt {
        
    } 

    .menu-res-cnt a {
        float: left;
    }

    .menu-res-cnt .menu-res-sideber {
        float: right;
    }

    .dropbtn {
        background-color: #fff;
        color: #000;
        padding: 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    .show {
        display: block;
    }

    /* filte */
    .filte-box {
        width: 100%;
    }
    .loc-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    #filte-box .loc-box .filte-btn,
    #filte-box .loc-box > .search {
        width: 100%;
        max-width: none;
    }
}



/* page liêh hệ */
#wp-content-lh {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 10px
}

#content-lh {
    width: 50%;
    background: linear-gradient(135deg,#1f6400,#568c3e57);
    height: 450px;
}


#content-lh .tit-lh {
    
}
#content-lh h4 {
    /* text-align: center; */
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
    padding: 20px 0;
}

#content-lh p {
    
    margin-left: 20px;
    color: #fff;
    
}

#sidebar-lh {
    width: 50%;
}

#sidebar-lh h2 {
    color: #568C3E;
    padding: 10px 0;
}




.contact-box {
   
    width: 500px;
    padding: 20px;
    border: 1px solid #cccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #cccc;

  }
  
  button {
    background-color: #568c3e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8FC33D;
  }


  .contact-box h2 {
    font-size: 18px;
  }


  #wp-content-dn {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
  }
/* trang đăng nhập */
.login-box {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .login-box h2 {
    color: #568C3E;
    margin-bottom: 20px;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box label {
    margin-bottom: 8px;
  }
  
  .login-box input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .login-box .remember-forgot {
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    margin-bottom: 16px;
  }
  
  .login-box button {
    background-color: #568C3E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .login-box button:hover {
    background-color: #8FC33D;
  }
  
  .login-box a {
    text-decoration: none;
    color: #568C3E;
    float: right;
  }
  
  .login-box a:hover {
    text-decoration: underline;
  }

  /* trang đăng kí */

  #wp-content-dk {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  }

  .signup-box {
    width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  }

  .signup-box h2 {
    color: #568C3E;
    margin-bottom: 5px;;
  }

 .signup-box form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-box label {
    margin-bottom: 8px;
    color: #7e7b7bcc;
  }
  
  .signup-box input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .signup-box button {
    background-color: #568C3E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .signup-box button:hover {
    background-color: #8FC33D;
  }

  .signup-box p {
    text-align: center;
    color: red;
    font-size: 12px;
  }

  .signup-box .remember-forgot a {
    color:#568C3E;
  }